.env
.vscode
node_modules
yarn-error.log
ui-debug.log
firebase-debug.log
firestore-debug.log

# ignore distributable directories
/packages/*/dist/
/packages/app/dist/
/packages/auth/dist/
/packages/firestore/dist/
/packages/storage/dist/

/storybook-static
